@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700&display=swap');

:root {
	--success: green;
	--danger: red;
	--black: #1f212b;
	--gray: #a2b4cc;
	--dark-gray: #75849d;
	--white: #f7f7f7;
	--default-font: 'Sofia Sans', sans-serif;
	--box-shadow-16: 0 3px 6px rgba(0, 0, 0, 0.16);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--default-font);
	background-color: var(--white);
	color: var(--black);
	margin: 0;
	font-size: 16px;
	min-width: 320px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
